<th:block th:fragment="comment">
    <tr>
        <td colspan="3">HEAG 프로그램 재실행해도 동일하여 PACS에 내용 전달</td>
        <td>2022-10-18 15:10:00</td>
        <td>김나노</td>
    </tr>
    <tr>
        <td colspan="3">PACS사에서 내용을 확인하고 있으나 시간이 걸린다고 함.<br>
            담당자에게 피드백 요청
        </td>
        <td>2022-10-18 15:10:00</td>
        <td>김나노</td>
    </tr>
    <!--댓글 입력-->
    <tr>
        <td colspan="4">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="처리내용을 입력하세요."></textarea>
            <!--                        <input type="text" name="댓글" id="">-->
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-lg">등록</button>
        </td>
    </tr>
</th:block>