<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Bootstap CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/initial.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/ext/bootstrap-5.2.2-dist/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/ext/dataTable/css/dataTableBootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/ext/dataTable/css/dataTables.bootstrap4.min.css}">
    <!--구글 폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">
    <!--부트스트랩 아이콘-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/layout.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/header.css}"/>
</head>
<body>
<!--header-->
<div id="wrap">
    <div th:replace="fragments/header::header"></div>
    <!--  content  -->
    <div layout:fragment="content_area" class="content"></div>
    <!--footer-->
    <footer th:replace="fragments/footer::footer"></footer>
</div>
<!--반드시 공용스크립트 먼저 선언: 옮기면 못읽음 에러남-->
<script type="text/javascript" th:src="@{/ext/dataTable/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/ext/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/ext/bootstrap-5.2.2-dist/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/ext/dataTable/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/ext/dataTable/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/ext/dataTable/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script src="/js/userAccount.js" th:inline="javascript"></script>
<!--개별 script-->
<th:block layout:fragment="script_area">
</th:block>
</body>
</html>