<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/show.css}"/>
</head>
<div layout:fragment="content_area">
    <div class="container-xxl">
        <div class="content">
            <input type="hidden" name="crId" id="crId" th:value="${response.crId}">
            <table class="table border" id="customerResponse">
                <tr>
                    <th class="tableHead table-primary" scope="col">고객</th>
                    <td id="customerInfo" class="px-4"
                        th:text="${response.customerName}+'('+${response.customerCode}+ ')'"></td>
                    <td class="tableHead table-primary">서비스구분</td>
                    <input type="hidden" name="responseType" th:value="${response.responseType}">
                    <td name="responseType" id="responseType" class="text-center"></td>
                    <td class="tableHead table-primary">접수일시</td>
                    <td th:text="${response.createDateTime}" id="createDateTime" class="text-center"></td>
                </tr>
                <tr>
                    <th class="tableHead table-primary" scope="col">제목</th>
                    <td class="px-4" colspan="3" th:text="${response.responseTitle}"></td>
                    <td class="tableHead table-primary">응대자</td>
                    <td id="createUserName" th:text="${response.createUserName}" class="text-center"></td>
                    <input id="createUserCode" type="hidden" th:value="${response.createUserCode}">

                </tr>
                <tr id="responseContentRow">
                    <th class="tableHead table-primary align-middle" scope="col">내용</th>
                    <td colspan="5" class="p-4">
                        <div style="white-space:pre;" th:text="${response.responseContents}">
                        </div>
                    </td>
                </tr>
                <input type="hidden" name="useYN" id="useYN" th:value="${response.useYN}">
                <tr>
                    <th class="tableHead table-primary align-middle" rowspan="2">처리내용</th>
                    <!--댓글 입력-->
                    <td id="resultList" class="d-none" colspan="5">
                    </td>

                </tr>
                <tr>
                    <td colspan="5">
                        <form id="responseResultInsert" class="d-flex justify-content-between">
                            <input type="hidden" id="resultLoginId" readonly>
                            <textarea class="form-control ResponseResultTextArea" id="resultContents"
                                      name="resultContents" rows="3"
                                      placeholder="처리내용을 입력하세요."></textarea>
                            <button type="button" class="btn btn-primary" onclick="insertResult()">등록
                            </button>
                        </form>
                    </td>
                </tr>
            </table>

            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary mr-1" type="submit" onclick="location.href='/'" style="width: 100px;">
                    목록
                </button>
                <button class="btn btn-secondary d-none" id="editResponseBtn" type="submit"
                        th:onclick="|location.href='/board/'+'${response.crId}'+'/update'|" style="width: 100px;">수정
                </button>
            </div>
        </div>
    </div>
</div>

<th:blcok layout:fragment="script_area">
    <script type="text/javascript">
        <!--시간 표시 방식 설정-->
        $('#createDateTime').text(getDateStr(new Date($('#createDateTime').text())))
    </script>
    <!--서비스 내용 불러오기-->
    <script src="/js/show/getCustomerResponse.js" th:inline="javascript"></script>
    <!--처리내용 목록 불러오기-->
    <script src="/js/show/getResponseResultList.js" th:inline="javascript"></script>
    <!--처리내용 입력-->
    <script src="/js/show/insertResponseResult.js" th:inline="javascript"></script>
</th:blcok>
</html>