<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/writeAndEdit.css}"/>
</th:block>
<div layout:fragment="content_area">
    <div class="container-fluid">
        <div class="content">
            <div id="pageTitle">
                <h2>내용등록</h2>
            </div>
            <table class="table">
                <tr>
                    <th scope="col">고객</th>
                    <td>
                        <label class="bold-character">고객구분</label>
                        <input type="checkbox" name="customerType" value="hospital" onclick="getCheckboxValue()"
                               id="cs_hsp"><label for="cs_hsp">병원</label>
                        <input type="checkbox" name="customerType" value="doctor" onclick="getCheckboxValue()"
                               id="cs_dr"><label for="cs_dr">판독의</label>
                        <select name="고객" th:name="customerCode" id="customerCode" onclick="showCustomerList()">
                            <option selected>고객을 선택해주세요</option>
                        </select>
                    </td>
                    <th scope="col">서비스구분</th>
                    <td>
                        <select class="form-select" aria-label="Default select example" name="responseType"
                                id="responseType">
                            <option selected name="serviceType">서비스를 선택해주세요</option>
                            <option value="N">일반</option>
                            <option value="P">프로그램</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="col">제목</th>
                    <td><input type="text" name="responseTitle" id="responseTitle" placeholder="제목을 입력하세요">
                        <input type="text" name="loginId" id="loginId" value="admin" placeholder="로그인: admin" disabled>
                    </td>
                </tr>
                <tr>
                    <th scope="col">내용</th>
                    <td colspan="5"><textarea class="form-control" id="responseContents" rows="5" placeholder="내용을 입력하세요."
                                              name="내용"></textarea></td>
                </tr>
                <tr>
                    <th scope="col">첨부파일</th>
                    <td colspan="5">
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04"
                                   aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAdd">Button
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="button">
                <button class="btn btn-secondary" type="submit" onclick="insertCustomerResponse()" th:action="location">등록</button>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script_area">
    <script src="/js/write/insertCustomerResponse.js" th:inline="javascript"></script>
</th:block>
</html>