<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/writeAndEdit.css}"/>
</th:block>
<div layout:fragment="content_area">
    <div class="container-fluid">
        <div class="content">
            <div id="pageTitle">
                <h2>내용등록</h2>
            </div>
            <table class="table">
                <tr>
                    <th scope="col">고객</th>
                    <td>
                        <label class="bold-character">고객구분</label>
                        <input type="checkbox" name="customerType" value="" id="customer_hosp"><label for="customer_hosp">병원</label>
                        <input type="checkbox" name="customerType" value="판독의" id="customer_dr"><label for="customer_dr">판독의</label>
                        <select name="고객" id="">
                        <option selected>전체</option>
                    </select></td>
                    <th scope="col">서비스구분</th>
                    <td><select name="서비스구분" id="">
                        <option selected>서비스구분을 선택하세요</option>
                        <option value="">프로그램문의</option>
                        <option value="">일반</option>
                    </select></td>
                </tr>
                <tr>
                    <th scope="col">제목</th>
                    <td><input type="text" name="제목" id="titleInput" placeholder="제목을 입력하세요"></td>
                </tr>
                <tr>
                    <th scope="col">내용</th>
                    <td colspan="5"><textarea class="form-control" id="boardContent" rows="5" placeholder="내용을 입력하세요."
                                              name="내용"></textarea></td>
                </tr>
                <tr>
                    <th scope="col">첨부파일</th>
                    <td colspan="5">
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04"
                                   aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAdd">Button
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="button">
                <button class="btn btn-secondary" type="submit">등록</button>
            </div>
        </div>
    </div>
</div>
</html>