*{
    text-decoration: none;
}

div#search-bar{
    border: 1px solid #D2D2D2FC;
    background-color: #cfe2ff6b;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    width: 1135px;
}
input.customerType{
    margin: 10px;
}
.searchCategory{
    font-weight: bold;
    margin-right: 10px;
}
section{
    margin-top: 30px;
    margin-bottom: 30px;
}
#writeBtn{
    text-align: center;
    width: 60px;
    height: 38px;
}
table#serviceList{
    color: black;
    width: 1135px !important;
}
table#serviceList > tbody > tr > td > a {
    color: black;
}
