table#customerResponse{
    margin-top: 50px;
}
table#customerResponse > tbody > tr > th{
    background-color: #eab49d;
}

/* 처리내용 */
.tableHead{
    width: 140px;
    text-align: center;
    font-weight: bold;
}
.ResponseResultTextArea {
    width: 600px;
}