.tableHead{
    width: 140px;
    text-align: center;
    font-weight: bold;
    background-color: #eab49d !important;
}

#customerCode{
    width: 120px;
}
.button {
    display: inline-block;
    vertical-align: middle;
}
#responseTitle{
    margin-left: 18px;
    width: 500px;
}
textarea#responseContents {
    height: 300px;
    resize: none;
}